{% extends "layout.html" %} {% block content %}

<table class="table table-hover">
  <thead>
    <tr class="table-active">
        
      <th scope="col"></th>
      <th scope="col">app</th>
      <th scope="col">web</th>
      <th scope="col">graphic</th>
      <th scope="col">wordpress</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">free</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">monthly</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock %}
